{% load static%}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
<body>
    <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/log.css'%}">
</head>
<body>
    <div id="full">
        <form>
            <div id="log">
                <h1>LOG IN</h1>
                <span id="x" ><a href="{% url 'fornt' %}">&times;</a></span>
            </div>
            <div id="name">
                <label for="">Email Id : </label>
                <input type="text" placeholder="Enter Email">
            </div>
            <div id="pass" >
                <label>Passworg : </label>
                <input type="password" placeholder="Enter Password">
            </div>
            <div id="sub">
                <button>submit</button><button><a href="">Register</a></button>
            </div>
            <div>
                <a href="">forgetpassword</a>
            </div>
        </form>
    </div>
</body>
</html>
</body>

</html>